[submodule "Pinger"]
	path = Pinger
	url = https://github.com/Mitron57/Pinger
[submodule "DockMon"]
	path = DockMon
	url = https://github.com/Mitron57/DockMon
[submodule "MonitoFrontend"]
	path = MonitoFrontend
	url = https://github.com/Mitron57/MonitoFrontend.git
